# Object files
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app


autom4te.cache
autoregen.sh
autoscan.log
configure.scan
config.log
Makefile
stamp-*
.*.swp
*~
src/.deps
src/recdvb
src/Makefile

