Source: recdvb
Section: video
Priority: extra
Maintainer: TOKITA Hiroshi <tokita.hiroshi@gmail.com>
Build-Depends: debhelper (>= 8.0.0), autotools-dev, docbook-xsl, docbook-xml, xsltproc
Standards-Version: 3.9.4
Homepage: http://example.com
#Vcs-Git: git://git.debian.org/collab-maint/recdvb.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/recdvb.git;a=summary

Package: recdvb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-libav
Description: Command line DVB recording tool.
 recdvb is command line DVB recording tool.
 Mostly compatible with recpt1 that is popular in japan.
