Source: recdvb
Section: video
Priority: extra
Maintainer: TOKITA Hiroshi <tokita.hiroshi@gmail.com>
Build-Depends: debhelper (>= 9.0.0), autotools-dev, docbook-xsl, docbook-xml, xsltproc, pkg-config, libgstreamer1.0-dev
Standards-Version: 3.9.5
Homepage: https://github.com/tokitah/recpt1-gst
Vcs-Git: https://github.com/tokitah/recpt1-gst
Vcs-Browser: https://github.com/tokitah/recpt1-gst

Package: recdvb
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, gstreamer1.0-plugins-good, gstreamer1.0-plugins-bad, gstreamer1.0-libav
Description: Command line DVB recording tool.
 recdvb is command line DVB recording tool.
 Mostly compatible with recpt1 that is popular in japan.
